#size {
	color:#41403C;
	font-family:Arial;
	font-size:13px;
	margin:0;
	padding:10px 0 0;
}
#size li{
	float:left;
	list-style:none outside none;
	margin:0 18px 0 0;
	text-align:center;
}
#size li a{
	border:1px solid #999999;
	display:block;
	font-size:10px;
	height:30px;
	line-height:30px;
	margin-top:10px;
	width:30px;
}
#size li.selected a{
	background:none repeat scroll 0 0 #22A7F2;
	border-color:#22A7F2;
	color:white;
	font-weight:bold;
}
#size li#small a{
	height:30px;
	line-height:30px;
	margin-top:10px;
	width:30px;
}
#size li#slideshow a{
	height:50px;
	line-height:50px;
	margin-top:0;
	width:50px;
}
#size li#large a{
	height:70px;
	line-height:70px;
	margin-top:-10px;
	width:70px;
}


/* Default error colouring */

article, nav, header, footer, aside, hgroup, section{
	display:block;
}

div.fieldWithErrors {
  display: inline;
}

#errorExplanation {
  border-top: 3px solid #F27F7F;
  background: #FFBEBE;
  padding: 10px;
}

#errorExplanation, #errorExplanation *, .fieldWithErrors, .fieldWithErrors * {
  color: #9C2626;
}

/* Browser Hacks */

/* remove borders from images */

a img {
  border: 0px none;
}

/*
Firefox Dotted Line Fix
  - http://sonspring.com/journal/removing-dotted-links
*/
a:focus {
  outline: none;
}

/*
Clearfix docs
 - Main docs: http://positioniseverything.net/easyclearing.html
 - IE7 change: http://www.456bereastreet.com/archive/200603/new_clearing_method_needed_for_ie7/
*/
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.clearfix {
  display: inline-block;
}

/* Hide from IE Mac \*/
.clearfix {
  display:block;
}
/* End hide from IE Mac */