<header>
	<div id='header'>
		<div id='header_content'>
			<nav id="menu">
				<% $menus.each do |item| -%>
					<%= link_to item, "/#{item}", :class => 'active' if item==params[:controller] %>
					<%= link_to item, "/#{item}" if item!=params[:controller] %>
				<% end %>
			</nav>
		</div>
	</div>
</header>