<header>
	<div id='header'>
		<div id='header_content'>
			<nav id="menu">
				<% $settings['plugins'].each do |plugin| -%>
					<% if $config['plugins'].include?(plugin) %>
						<%= link_to plugin, "/#{plugin}", :class => 'active' if plugin==params[:controller] %>
						<%= link_to plugin, "/#{plugin}" if plugin!=params[:controller] %>
					<% end %>
				<% end %>
			</nav>
		</div>
	</div>
</header>