<li>
	<form method="GET" action="http://demo.refinerycms.com/refinery/images" class="search_form">
		<input id="search" name="search" size="22" type="search" value="" />
		<input id="dialog" name="dialog" type="hidden" value="false" />
		<input type="submit" value="Search" class='button' />
	</form>
</li>