<div id='site_bar'>
	<div id='site_bar_content' class='clearfix'>
		<div id='editor_switch'>
			<a href="/">Switch to your website</a>
		</div>
		<div id='site_bar_branding'>
			<% if $settings['plugins'].include?('clients') -%>
				<%= collection_select(:client, :id, Client.all, :id, :name, {:selected => session[:client_id]}) -%>
			<% end %>
			<span id='site_bar_company_name'>Website-development.nl</span>
			<a href="/logout" id="logout">Log out</a>
		</div>
	</div>
</div>