<li class='part_<%= part.id %>' style="<%= 'display:none;' if part.id != first %>">
	<%= link_to name, new_item_path(:type => type, :page_id => page.id, :part_id => part.id), :class => 'add_icon' %>
</li>