<% content_for :actions do %>
	<li>
		<%= link_to 'New Page', new_page_path, :class => 'add_icon' %>
	</li>
<% end %>

<div id='records' class='tree'>
	<ul>
		<%= render :partial => 'page', :collection => @pages %>
	</ul>
</div>

<% content_for :javascript do %>
  <script type='text/javascript'>
		$(document).ready(function(){
			$("#records").jstree({
				"plugins" : ["html_data", "cookies", "dnd", "types", "themes" ], 
				"types" 	: {
					"max_depth" : 3,
					"max_children" : -2,
					"valid_children" : ["default"],
				},
			})
			.bind("move_node.jstree", function (e, data) {
				data.rslt.o.each(function (i) {
					$.ajax({
						async : false,
						type: 'POST',
						url: "<%= move_pages_url %>",
						data : {  
							"id" : $(this).attr("id").replace("node_",""), 
							"ref" : data.rslt.np.attr("id").replace("node_",""), 
							"position" : data.rslt.cp + i,
							"copy" : data.rslt.cy ? 1 : 0
						},
						success : function (r) {
							
						}
					});
				});
			});
		});
  </script>
<% end %>