<% render :partial => 'actions' %>

<% content_for :records do %>
<li class='clearfix record on'>
	<span class='title'>
		<%= @gallery.title %> <span class="preview">&nbsp;</span>
	</span>

	<span class='actions'>
		<%= link_to_edit 	 @gallery %>
		<%= link_to_delete @gallery %>
	</span>
</li>
<% end %>


<ul id="image_grid" class="clearfix">
	<% @gallery.images.all.each_with_index do |image, i| %>
		<li>
			<%= image_tag image.data.url(:small), :width=> 135, :height => 135 %>
		</li>
	<% end %>
</ul>
<script type="text/javascript" charset="utf-8">
	$("#image_grid").sortable({ items: 'li' });
</script>