<!DOCTYPE html>
<html>
  <%= render :partial => "/shared/head" %>
  <body>
    <%= render :partial => '/shared/site_bar'  %>
    <div id='tooltip_container'></div>
		<%= render :partial => '/shared/menu' %>
		<%= render :partial => "/shared/body" %>
  </body>
</html>