<!DOCTYPE html>
<html>
  <head>
		<%= stylesheet_link_tag 		'/public/index' 		%>
		<%= javascript_include_tag 	'jquery/jquery-min' %>
		<%= javascript_include_tag 	'/public/index' 		%>
	</head>
  <body>
		woohoo... website.erb layout <br/>
		<%= yield %>
  </body>
</html>